
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-385403-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-385403-1');
    </script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Development: -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- Production: -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      #app {
        height: 100%;
        width: 100%;
      }
      #game {
        text-align: center;
      }
      table {
        margin: 0 auto;
        table-layout: fixed;
      }
      table, tr, td {
        border-spacing: 0;
        border-collapse: collapse;
      }
      td {
        overflow: hidden;
        background: #EEE;
        vertical-align: middle;
        text-align: center;
      }
      #controls {
        font-size: 14px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgba(0.7, 0.7, 0.7, 0.3);
        border-radius: 5px;
      }
      #controls p {
        position: relative;
        z-index: 1;
        padding: 10px;
        margin: 0;
      }
      #controls select, #controls input {
        margin: 5px 0
      }
      #controls button#stepBack, #controls button#step, #controls button#play {
        padding: 2px 0px 3px 1px;
        text-align: center;
      }
      #controls a {
        color: black;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="controls">
        <p>
          <label for="selectedSeed">Seed: </label>
          <select v-model="selectedSeed" name="selectedSeed" name="selectedSeed">
            <optGroup v-for="(group, name) in seedGroups" :label="name">
              <option v-for="name in group" :value="name">{{ name }}</option>
            </optGroup>
          </select>
          <button @click="reset" name="reset" id="reset">Reset</button>
          <button @click="stepBack" name="stepBack" id="stepBack">⏮</button>
          <button @click="togglePlay" name="play" id="play">{{ this.paused ? "⏯" : "⏸" }}</button>
          <button @click="step" name="step" id="step">⏭</button>
          <br />
          <label for="cols">Columns: {{ this.cols }}</label>
          <input type="range" min="1" max="100" v-model="cols" id="cols"/>
          <br />
          <label for="rows">Rows: {{ this.rows }}</label>
          <input type="range" min="1" max="100" v-model="rows" id="rows"/>
          <br />
          <label for="fps">FPS: {{ this.fps }}</label>
          <input type="range" min="1" max="100" v-model="fps" id="fps"/>
          <br />
          Generation: {{ this.history.length }}
          <label for="fadeOut">Transitions</label>
          <input name="fadeOut" type="checkbox" v-model="fadeOut" />
          <br />
          <label for="debug">Debug to Console</label>
          <input name="debug" type="checkbox" v-model="debug" />
          <br />
          <small><a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a></small>
        </p>
      </div>
      <div id="game">
        <h1></h1>
        <table cellpadding="0" cellspacing="0" :key="`${this.cols}_by_${this.rows}_${this.selectedSeed}`" v-bind:style="{ width: (cellWidth * this.cols) + 'px', height: (cellHeight * this.rows) + 'px' }">
          <tr v-for="(row, row_idx) in grid" :key="`${row_idx}_${this.cols}`">
            <td v-for="(cell, col_idx) in row" :key="col_idx" v-bind:style="{ width: cellWidth + 'px', height: cellHeight + 'px', fontSize: cellSize + 'px' }">{{ printCell(cell) }}</td>
          </tr>
        </table>
      </div>
    </div>
    <script type="text/javascript">
      // Game of Emoji Life

      // MIT License
      // Copyright 2020 Tieg Zaharia
      // Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
      // The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
      // THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          grid: [],
          history: [],
          cols: 10,
          rows: 10,
          frame: 0,
          cellSize: 10,
          fps: 5,
          paused: false,
          debug: false,
          generation: 0,
          frames: [
            "🌕", // 0: dead
            "🌖",
            "🌗",
            "🌘",
            "🌑", // live
          ],
          fadeOut: true,
          seedGroups: {
            "Oscillators": ["Blinker", "Toad"],
            "Still-lifes": ["Block"],
            "Space-ships": ["Glider"]
          },
          seeds: {
            "Block": [
              [1, 1],
              [1, 2],
              [2, 1],
              [2, 2],
            ],
            "Glider": [
              [3, 2],
              [4, 3],
              [2, 4],
              [3, 4],
              [4, 4]
            ],
            "Blinker": [
              [1, 2],
              [2, 2],
              [3, 2]
            ],
            "Toad": [
              [2, 2],
              [3, 2],
              [4, 2],
              [1, 3],
              [2, 3],
              [3, 3],
            ]
          },
          selectedSeed: "Toad",
          directions: [
            [-1, -1],
            [-1, 0],
            [-1, 1],
            [0, -1],
            [0, 1],
            [1, -1],
            [1, 0],
            [1, 1],
          ]
        },
        watch: {
          selectedSeed () {
            this.reset()
          }
        },
        computed: {
          liveValue () {
            return this.frameCount - 1
          },
          deadValue () {
            return 0
          },
          frameCount () {
            return this.frames.length
          },
          cellWidth () {
            return this.cellSize + 5
          },
          cellHeight() {
            return this.cellSize
          }
        },
        methods: {
          setSizes () {
            this.windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
            this.windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
            this.cols = Math.max(Math.floor((this.windowWidth / this.cellWidth) - 10), 10)
            this.rows = Math.max(Math.floor((this.windowHeight / this.cellHeight) - 35), 10)
          },
          reset () {
            this.grid = this.newGrid()
            this.seed()
            if (this.debug) {
              console.table(this.grid)
            }
          },
          togglePlay () {
            this.paused = !this.paused
            this.step()
          },
          stepBack () {
            this.grid = this.history.pop()
            console.table(this.grid)
          },
          step () {
            let newGrid = this.newGrid()
            if (this.frame % this.frameCount !== 0) {
              newGrid.forEach((row, y) => {
                row.forEach((col, x) => {
                  const val = this.getCell(x, y)
                  if (this.fadeOut) {
                    newGrid[y][x] = val > 0 && val < this.liveValue ? val - 1 : val
                  } else {
                    newGrid[y][x] = val
                  }
                })
              })
            } else {
              newGrid.forEach((row, y) => {
                row.forEach((col, x) => {
                  // We iterate over newGrid in case the size changed, but get the values from this.grid since newGrid is blank.
                  const val = this.getCell(x, y)
                  var liveNeighbors = this.liveNeighborCount(x, y)
                  if (val === this.deadValue) {
                    newGrid[y][x] = (liveNeighbors === 3) ? this.liveValue : (this.fadeOut ? Math.max(0, val - 1) : this.deadValue)
                  } else {
                    newGrid[y][x] = (liveNeighbors === 2 || liveNeighbors === 3) ? this.liveValue : (this.fadeOut ? Math.max(0, val - 1) : this.deadValue)
                  }
                })
              })
              this.history.push(this.grid)
            }
            this.frame += 1
            this.grid = newGrid
            if (this.debug) {
              console.table(this.grid)
            }
            if (!this.paused) {
              setTimeout(this.step, 1000 / this.fps / this.frameCount)
            } else if (this.frame % this.frameCount !== 0) {
              setTimeout(this.step, 1000 / this.fps / this.frameCount)
            }
          },
          seed () {
            const val = this.liveValue
            this.seeds[this.selectedSeed].forEach(coord => {
              this.grid[coord[1]][coord[0]] = val
            })
          },
          printCell(val) {
            return this.frames[val]
          },
          getCell(x, y) {
            const maxX = this.grid[0].length - 1
            const maxY = this.grid.length - 1
            y = y < 0 ? maxY : y
            x = x < 0 ? maxX : x
            y = y > maxY ? 0 : y
            x = x > maxX ? 0 : x
            return this.grid[y][x]
          },
          liveNeighborCount(x, y) {
            return this.directions.filter(([xx, yy], idx) => {
              return this.getCell(x + xx, y + yy) === this.liveValue
            }).length
          },
          newGrid () {
            return Array.from(
              { length: this.rows },
              () => {
                return Array.from({ length: this.cols }, () => 0)
              }
            )
          }
        },
        mounted () {
          this.setSizes()
          this.reset()
          if (!this.paused) {
            setTimeout(this.step, 1000 / this.fps)
          }
        }
      })
    </script>
  </body>
</html>
